@import url(//fonts.googleapis.com/css?family=Arimo:400,700,400italic&subset=latin,cyrillic);
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Arimo", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Arimo", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
@media (min-width: 767px) {
  a {
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
  }
}
.btn:focus,
.btn:active:focus {
  outline: none;
}
.fa-stack {
  margin: 0 0 25px;
}
.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .navbar {
    border-bottom: none;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.66s ease-out, padding 0.66s ease-out;
    transition: background 0.66s ease-out, padding 0.66s ease-out;
    -webkit-transition: -webkit-box-shadow 0.66s ease-out, background 0.66s ease-out, padding 0.66s ease-out;
    transition: box-shadow 0.66s ease-out, background 0.66s ease-out, padding 0.66s ease-out;
  }
  .navbar a {
    font-size: 120%;
  }
  .top-nav-expanded {
    padding: 1.5em 0;
    background: transparent;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0);
  }
  .top-nav-expanded .navbar-brand:hover,
  .top-nav-expanded .navbar-nav > li > a:hover,
  .top-nav-expanded .navbar-brand:focus,
  .top-nav-expanded .navbar-nav > li > a:focus {
    color: inherit;
  }
}
.navbar-brand:focus,
.navbar-toggle:focus,
.navbar-brand:active,
.navbar-toggle:active {
  outline: none;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li.active {
  outline: none;
}
.navbar {
  border-bottom: none;
}
.navbar-default .navbar-nav .active a {
  background: transparent;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(../img/intro.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.intro-body {
  display: table-cell;
  vertical-align: middle;
}
.brand-heading {
  font-size: 40px;
}
.intro-text {
  font-size: 18px;
}
@media (min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .brand-heading {
    font-size: 100px;
  }
  .intro-text {
    font-size: 25px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 40px;
  color: #ffffff;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition: -webkit-transform .33s;
  transition: transform .33s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.btn-circle:hover i.animated {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
a.btn.btn-circle:active {
  outline: none;
}
.content-section {
  padding-top: 100px;
}
#footer {
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 150px;
  }
  #footer {
    margin-top: 100px;
    padding-top: 100px;
  }
}
#sendmessage {
  display: none;
}
.validation {
  display: none;
  margin: 10px 0;
}
.parallax-section {
  margin-top: 150px;
  height: 300px;
  -webkit-background-size: 125%;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}
#parallax-1 {
  background-image: url(../img/parallax/1.jpg);
}
#parallax-2 {
  background-image: url(../img/parallax/2.jpg);
}
